<%- include('../layouts/header.ejs') %>

  <title>Video Caller</title>
  </head>
  <body>
    <h1>
        We're Lost in Space,</h1>
        <br>
            <h3><%= error.status  %> | <%= error.message %>  </h3> 
        <br>

    <h1>  Back To <a href="/">Home</a></h1>    
  </body>
  </html>