<nav>
    <h2>Video Caller</h2>
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/auth/signup">Sign Up</a>
            <a href="/auth/signin">Sigin in</a>
            <a href="/auth/logout">LogOut</a>
        </li>
    </ul>
</nav>